.box{
    display: flex;
    flex-wrap: wrap;
    width: 950px;
    background-color: gray;
    height: 950px;
    align-content: stretch;
}
.g{
    
    background-color: red;
    flex: none;
    
}
